{
    "test": ".(mjs|js|ts)$",
    "jsc": {
        "externalHelpers": true,
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "target": "es2020"
    },
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": false,
        "lazy": false,
        "noInterop": true
    }
}
